div p {
	margin: 0;
	padding: 40px;
	text-align: center;
	border:30px solid yellow;
	font-size: 20px;
}
.uno{
	padding: 0px;
	margin: 0px;
	height: 400px;
	width: 400px;
}
.dos{
	margin: 0 auto;
	margin-top: -57px;
	padding: 0px;
	height: 400px;
	width: 400px;
}